In [7]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
# Print the data present in the second row of the dataframe
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The loc and iloc functions in pandas DataFrame are used for different types of indexing:

loc: This function is label-based data selection method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc. loc can accept the boolean data, it will return a DataFrame of the same size if the boolean condition is not met.
iloc: This function is an integer index-based method. Hence, we have to specify rows and columns by their integer index. iloc returns a DataFrame when the number of rows is greater than 1. But when we are accessing only one row, then it returns a Series object.
Here’s an example to illustrate the difference:

In [9]:
# Using 'loc' (label-based)
print(df.loc[1, 'course_name'])

# Using 'iloc' (integer index-based)
print(df.iloc[1, 0])

Machine Learning
Machine Learning

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [10]:
# Reindex the dataframe
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

# Print the new dataframe
print(new_df)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [11]:
# This will create a new DataFrame new_df with the rows reordered according to the reindex list.

# Now, to find the output for new_df.loc[2] and new_df.iloc[2], you can use the following code


# Using 'loc'
print(new_df.loc[2])

# Using 'iloc'
print(new_df.iloc[2])


# new_df.loc[2] will print the data of the original second row from df as we have reindexed it, while new_df.iloc[2] will print the data of the third row of the new DataFrame new_df. Please note that Python uses 0-based indexing, so iloc[2] refers to the third row. Also, loc is label-based, so loc[2] refers to the row with the index label 2.

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Yes, there is a difference in the outputs of `new_df.loc[2]` and `new_df.iloc[2]` because `loc` and `iloc` serve different purposes:

- `new_df.loc[2]` returns the row with the **label** 2. Even after reindexing, the label of the rows remains the same, so it returns the row from `new_df` that originally had the label 2 in `df`.

- `new_df.iloc[2]` returns the row at the **index** 2 of the reindexed dataframe `new_df`, which is the third row due to 0-based indexing.

So, `new_df.loc[2]` and `new_df.iloc[2]` can return different rows if the DataFrame has been reindexed.

Now, regarding the new code you've shared, you've created a DataFrame `df1` with random values using `numpy.random.rand`. The DataFrame has 6 rows and 6 columns, with the column names as 'column_1' to 'column_6' and the index labels as 1 to 6. If you have any questions or need further assistance with this DataFrame, feel free to ask!

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [16]:
# (i) Mean of each and every column present in the dataframe
mean_df = df.mean()
print("Mean of each column:\n", mean_df)

# # (ii) Standard deviation of column, 'column_2'
# std_column_2 = df['column_2'].std()
# print("\nStandard deviation of column_2:", std_column_2)

Mean of each column:
 duration    3.75
dtype: float64

C:\Users\Dashrath Sangle\AppData\Local\Temp\ipykernel_35252\1987055678.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_df = df.mean()

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [18]:
# Replace the data in the second row of 'column_2' with a string
df.loc[2, 'column_2'] = 'string_data'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In pandas, window functions are a family of functions used for the computation of various statistical and other operations on a window, or subset, of the data. These functions are very useful when we need to perform some kind of operation on a specific "window" or subset of data, which is defined within a certain span of items in the data set.

There are three types of window functions in pandas:

1. **Rolling Window Functions**: These functions operate on a fixed-size window of data represented by a certain number of periods. The `rolling()` function is used to create a Rolling object, on which we can call various functions to compute rolling statistics. For example, `df.rolling(window=3).mean()` would compute a 3-period rolling mean.

2. **Expanding Window Functions**: These functions operate on an expanding window of data represented by all previous data points. The `expanding()` function is used to create an Expanding object, on which we can call various functions to compute expanding statistics. For example, `df.expanding(min_periods=1).sum()` would compute an expanding sum.

3. **Exponential Weighted Window Functions**: These functions apply more weight to recent items and less weight to items further in the past, making them very useful for time-series data. The `ewm()` function is used to create an Exponential Weighted object, on which we can call various functions to compute exponentially weighted statistics. For example, `df.ewm(span=20).mean()` would compute an exponentially weighted moving average with a span of 20 periods.

Each of these window types has its own use cases and can be very useful for different kinds of data analysis tasks. It's important to choose the right type of window function based on the specific requirements of your data analysis task.

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [20]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (in the format YYYY-MM-DD): ")
date2 = input("Enter the second date (in the format YYYY-MM-DD): ")

# Convert the dates to pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference between the dates
diff = date2 - date1

# Calculate the difference in days, hours, and minutes
days = diff.days
hours = diff.total_seconds() // 3600
minutes = diff.total_seconds() // 60

# Print the result
print(f"The difference between the dates is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (in the format YYYY-MM-DD): 2024-05-03
Enter the second date (in the format YYYY-MM-DD): 2025-05-03
The difference between the dates is 365 days, 8760.0 hours, and 525600.0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [21]:
import pandas as pd

# URL of the CSV file
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Read the CSV data
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# URL of the CSV file
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Read the CSV data
df = pd.read_csv(url)

# Assuming the data has a 'Date' column for time, 'Product' column for product category, and 'Sales' column for sales
# Pivot the data for the stacked bar chart
pivot_df = df.pivot(index='Parch', columns='Ticket', values='Fare')

# Plot a stacked bar chart
pivot_df.plot(kind='bar', stacked=True)

# Display the chart
plt.show()


# ‘Survived’, ‘Pclass’, ‘Name’, ‘Sex’, ‘Age’, ‘SibSp’, ‘Parch’, ‘Ticket’, ‘Fare’, ‘Cabin’, and ‘Embarked’.