Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series

In [1]:
import pandas as pd

# Create the Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Create a Pandas DataFrame that contains the following data:      
Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
import pandas as pd

# Create a dictionary with the given data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is a DataFrame in pandas and how is it different from pandas.Series? Explain with an example.

A DataFrame is a 2-dimensional labeled data structure with columns that can hold different data types. It can be thought of as a table, similar to an Excel spreadsheet or a SQL table. Each column in a DataFrame is a pandas Series.

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Grade': [85, 90, 88]
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Grade
0   Alice   25     85
1     Bob   30     90
2  Claire   27     88

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions to manipulate data in a Pandas DataFrame include head(), tail(), info(), describe(), drop(), fillna(), groupby(), merge(), pivot_table(), etc.

In [6]:
print(df.describe())

             Age      Grade
count   3.000000   3.000000
mean   27.333333  87.666667
std     2.516611   2.516611
min    25.000000  85.000000
25%    26.000000  86.500000
50%    27.000000  88.000000
75%    28.500000  89.000000
max    30.000000  90.000000

Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?

Both Series and DataFrame are mutable, meaning you can modify their values after creation. Panel, on the other hand, is a 3-dimensional data structure which is deprecated in recent versions of pandas.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd

# Creating Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
age_series = pd.Series([25, 30, 35, 40])
city_series = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])

# Combining Series into a DataFrame
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'City': city_series})

# Displaying the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston